

body{
  background: linear-gradient(56deg, rgb(10, 10, 10), #569c5f);
}
.main-content{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 15px;
}
.main-card {
  width: 500px;
  border: #7a7481 solid 2px;
  padding: 50px;
}
.info-up{
  display: flex;
  flex-direction: row;
}
.species{
  margin-left: 20px;
  color: rgb(121, 117, 113);
  align-self: center;
  
}
.name{
  color: antiquewhite;
  font-weight: bold;
  font-size: larger;
}
.main-image {
  width: 500px;
}
.species {
  margin-left: 10px;
}